<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../styles/base.css">
	<title>HyperID | Buttons</title>
	<style>
		main {
			max-width: 800px;
			margin: 0 auto;
			padding: 10px;
		}
		.buttons {
			max-width: 800px;
			display: grid;
			grid-auto-flow: row;
			gap: 20px;
		}
	</style>
</head>
<body>
	<main>
		<h1>Hyper Buttons</h1>
		<section class="buttons">
			<button class="h-button">Register</button>
			<button class="h-button h-button_arrow-both"><span>Register</span></button>
			<button class="h-button h-button_arrow-left"><span>Register</span></button>
			<button class="h-button h-button_arrow-right"><span>Register</span></button>
			<button class="h-button h-button_white">Register</button>
			<button class="h-button h-button_white"><span class="h-button__label">Register</span></button>
			<button class="h-button h-button_white h-button_arrow-both"><span>Register</span></button>
			<button class="h-button h-button_white h-button_arrow-left"><span>Register</span></button>
			<button class="h-button h-button_white h-button_arrow-right"><span>Register</span></button>
		</section>
	</main>
</body>
</html>
