@import './theme.css';
@import './form.css';
@import './button.css';
@import './inputs.css';
@import './modal.css';
@import './loader.css';

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

.h-body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--h-blue);
}

.h-block-centered {
	flex-grow: 1;
}

.login-heading {
	text-align: center;
}

.welcome-nav {
	max-width: fit-content;
	margin: 0 auto;
}
