.h-form {
	padding: 30px 10px 50px;
	background-color: var(--h-yellow);
	display: grid;
	grid-template-areas:
		"heading"
		"fields"
		"buttons";
	grid-template-columns: minmax(250px, 358px);
	grid-auto-rows: max-content;
	justify-content: center;
	gap: 50px;
}

@media screen and (min-width: 678px) {
	.h-form {
		border: 3px solid var(--h-black);
		box-shadow: var(--black-shadow);
		border-radius: var(--hyper-radius);
		max-width: 676px;
		margin: 0 auto;
	}
}

/* HEADING SECTION */
.h-form__section-heading {
	grid-area: heading;
	display: grid;
	grid-template-rows: max-content minmax(50px, 100%);
	gap: 50px;

}

/* CLEARING STYLES FOR ALL FORM SECTIONS */
section[class^="h-form__section-"],
.h-form__fieldset {
	border: none;
	max-width: 358px;
	margin: 0;
	padding: 0;
}

.h-form__section-logo img {
	width: 100%;
	object-fit: contain;
}

/* FORM MESSAGE */
.h-form__section-message {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-top: 40px;
	min-width: 230px;
	min-height: 50px;
	background-color: var(--h-blue);
	box-shadow: var(--black-shadow);
	border: 1px solid var(--h-black);
	margin: 0 auto;
	color: var(--h-white);
	font-weight: 700;
	font-size: 20px;
	line-height: 48px;
}

/* FIELDSET SECTION */
.h-form__fieldset {
	grid-area: fields;
}

/* BUTTONS SECTION */
.h-form__section-buttons {
	grid-area: buttons;
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}
