.h-loader {
	display: none;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-30px, -30px);
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
	border-color: var(--h-black);
	background-color: var(--warning-yellow);
	outline: 2px dashed var(--h-black);
	animation: .5s infinite ease-out alternate-reverse running loading;
}

@keyframes loading {
	from {
		outline-offset: 1px;
	}

	to {
		outline-offset: 20px;
	}
}

.h-loader.loading {
	display: block;
}
